In [12]:
import pandas as pd
import os
from sqlalchemy import create_engine
from sqlalchemy.exc import ProgrammingError
import warnings
from config import db_password as pw

In [13]:
use = 'root'
host = '127.0.0.1'
port = '3306'
db = 'noaa_ice_db'
tbl = 'ice_coverage'

In [19]:
ice_cov = pd.read_csv(os.path.join('..','data_files','clean_data','ice_coverage.csv'))
ice_cov.head()

,Unnamed: 0,Date,Superior,Michigan,Huron,Erie,Ontario,Weekday,Year,Month,Day,Period
0,727,1994-12-08,0.00,NaN,NaN,NaN,NaN,Thursday,1994,12,8,1994-12
1,728,1994-12-09,0.61,0.00,0.0,0.0,0.0,Friday,1994,12,9,1994-12
2,729,1994-12-12,1.01,0.00,0.8,0.0,0.0,Monday,1994,12,12,1994-12
3,730,1994-12-14,0.94,0.11,1.0,0.0,0.0,Wednesday,1994,12,14,1994-12
4,731,1994-12-16,1.12,0.14,1.4,0.0,0.3,Friday,1994,12,16,1994-12

In [20]:
engine = create_engine(f"mysql+pymysql://{use}:{pw}@{host}:{port}")

In [24]:
try:
    engine.execute(f"CREATE DATABASE {db}")
except ProgrammingError:
    warnings.warn(
        f"Could not create {db}. Database {db} may already exist."
    )
    pass

/Users/katjansen/.local/share/virtualenvs/SMMBBGKJ-TTH-Prj1-3OGYv820/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Could not create noaa_ice_db. Database noaa_ice_db may already exist.
  """

In [22]:
engine.execute(f"USE {db}")
engine.execute(f"DROP TABLE IF EXISTS {tbl}")
ice_cov.to_sql(name=tbl,con=engine)